<form ng-submit="addTask()" class="addTaskForm">
    <button type="button" ng-click="closeAddTask()" class="closeModal">x</button>
    <h3>Add a new task  </h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Task" ng-model="newTask.name"></input>
    </div>
    <p class="input-group">
        <input type="text" placeholder="Deadline" class="form-control " uib-datepicker-popup="{{format}}" ng-model="newTask.deadline" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open2()" alt-input-formats="altInputFormats" ng-model-options="{timezone: 'utc'}" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="calendar" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
    <div class="form-group">
        <label for="sel1">Priority</label>
        <select class="form-control" ng-model="newTask.priority">
            <option value: "Low">Low</option>
            <option value: "Medium">Medium</option>
            <option value: "High">High</option>
        </select>
    </div>
    <button type="button" ng-click="addTask(newTask, goal._id)" class="btn btn-primary">Add</button>
</form>