    body {

        background-image: url("sky.jpg");
        background-size: cover;
        font-family: 'Lato', sans-serif;
        /*        font-family: 'Roboto', sans-serif;
*/
    }

    .author {
        display:block;
    }

    .alert-danger {
        font-weight: bold;
        font-size: 16px;
    }

    .loginSize {
        display: inline-block;
        width: 50%;
        text-align: left;
    }

    .loginDiv {
        text-align: center;
    }

    .loginTitle {
        font-family: 'Fugaz One', cursive;
    }

    .navbar-custom {
        background-color: #1A6899;
        height: 70px;
        border: none;
        font-color: white;
        border-radius: 0;
    }

    .navbar.navbar-custom .navbar-brand {
        color: white;
        font-family: 'Fugaz One', cursive;
        font-size: 40px;
        padding: 25px;
    }

    .navbar.navbar-custom .dropdown,
    .navbar.navbar-custom .dropdown:active,
    .navbar.navbar-custom .dropdown:focus,
    .navbar.navbar-custom .dropdown:hover {
        height: 100%;
        font-size: 20px;
        padding-top: 12px;
        color: white;
        font-weight: bold;
    }
    /***Dropdown Background Active State***/

    .navbar.navbar-custom .nav li.dropdown.open>.dropdown-toggle,
    .navbar.navbar-custom .nav li.dropdown.active>.dropdown-toggle,
    .navbar.navbar-custom .nav li.dropdown.open.active>.dropdown-toggle {

        background: #1a6899;
        color: white;
    }



    th {
        background-color: #1a6899;
        color: white;
        text-align: center;
    }

    tr {
        background-color: #e9f4fb;
    }

    .table tbody tr:hover td,
    .table tbody tr:hover {
        background-color: #d3eaf8;
    }

    tbody {
        border: 1px solid #F7F7F9;
        text-align: center;
    }



    .addAGoal,
    .addATask {
        margin-bottom: 10px;
        font-weight: bolder;
        font-size: 14px;
    }

    .addGoalForm,
    .addTaskForm {
        padding: 20px;
    }

    .completedGoal, .completedTask {
        background-color: #c2e2b6;
    }


    .table tbody .completedGoal:hover td,
    .table tbody .completedTask:hover td {
        background-color: #a4d491;
    }

    input[type=checkbox] {
        transform: scale(2);
    }

    .header {
        text-align: center;

        font-family: 'Fugaz One', cursive;
    }

    .move {
        padding-top: 5px;
    }

    #calendar {
        height: 34px;
    }

    .updateButton {
        margin-bottom: 3px;
    }

    .closeModal {
        float: right;
    }


    .nameAndDeadline {
        display: inline-block;
        width: 400px;
    }


    #category,
    #priority {
        display: inline-block;
        width: 49%;
    }

    #priority {
        float: right;
    }



    p {
        display: inline-block;
        width: 145px;
        float: right;
    }

    .addTaskDeadline {
        display: block;
    }