.addAGoal {
    margin: 10px;
}

.addGoalForm {
    padding: 20px;
}

.closeModal {
	float:right;
	padding:20px;
	background-color: white;
	border:none;
}


 /* .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
*/